/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* TailwindCSS */
@import "tailwindcss";

/* Flowbite */
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@theme {
    --color-primary: #f97316;
    --color-primary-hover: #ea6c0a;
    --color-secondary: #1e293b;
}